<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fototeca IronHack 2024</title>
            <%- include('./partials/head') %>
    </head>
    <body>
        <header class="container">
            <%- include('./partials/nav') %>
        </header>
        <main class="container">
            <!-- Si no hay imágenes en la fototeca animamos al usuario a añadir de nuevas. En caso contrario mostraremos el número de imágenes que contiene la fototeca -->
            <% if (images.length==0) {%> 
                <p>Todavía no hay imágenes en la fototeca. <a href="/add-image-form">Añade una ahora.</a></p>
            <%} else {%>
                <p>La fototeca tiene actualmente <%= images.length %> imágenes.</p>
            <%} %>
            <section class="grid">
                <% for (const image of images) {%>
                <article class="card">
                       <h1><%= image.title %></h1> 
                       <p><%= image.date.toLocaleString().split(',')[0] %></p> 
                       <div class="image-container">
                            <img src="<%= image.url  %>" alt="<%= image.title %>">
                        </div>
                        <% if (image.dominantColor) { %>
                            <div class="color-box" style="background-color: rgb(<%= image.dominantColor[0] %>, <%= image.dominantColor[1] %>, <%= image.dominantColor[2] %>);">
                                RGB(<%= image.dominantColor[0] %>, <%= image.dominantColor[1] %>, <%= image.dominantColor[2] %>)
                            </div>
                        <% } %>
                </article>
                <%} %>
            </section>
        </main>
    </body>
</html>

